<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h1>Login</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        <h2>Login</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
    <ion-list>
      <ion-item>
        <ion-label position="floating"><h2>Usuário</h2></ion-label>
        <ion-input [(ngModel)]="usuario" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><h2>Senha</h2></ion-label>
        <ion-input [(ngModel)]="senha" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="login()">Login</ion-button>
    </ion-list>
  </ion-content>
  
</ion-content>
