

ion-title {
    background-image: linear-gradient(blue, white);

}

ion-title {
    font-weight: bold;
    color: whitesmoke;
    
}

ion-label {
    font-weight: bold;
    color: whitesmoke;
    
}

ion-list {
    background-image: linear-gradient(blue, white); 
}

p {
    display: flexbox;
    align-content: center;
}